.splitpanes__pane {
  justify-content: center;
  align-items: center;
  display: flex;
}
.splitpanes__splitter {
  background-color: #900606;
  position: relative;
}
.splitpanes__splitter:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.4s;
}
.splitpanes--vertical > .splitpanes__splitter:before {
  left: -30px;
  right: -30px;
}
.splitpanes--horizontal > .splitpanes__splitter:before {
  top: -30px;
  bottom: -30px;
}
.splitpanes__splitter:hover:before {
  background-color: rgba(255, 0, 0, 0.3);
}
